"*":
  "atom-material-ui":
    colors:
      abaseColor: "#5c6bc0"
      predefinedColor: "Indigo"
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
  "atom-minify":
    jsMinifier: "UglifyJS2"
  core:
    audioBeep: false
    disabledPackages: [
      "linter"
      "linter-eslint"
      "spell-check"
      "atom-minify"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Roboto Mono"
    fontSize: 12
    invisibles: {}
    lineHeight: 1.8
    preferredLineLength: 100
    scrollPastEnd: true
    softWrap: true
    softWrapHangingIndent: 2
    zoomFontWhenCtrlScrolling: false
  "exception-reporting":
    userId: "d9c70154-c602-a139-12f7-dc7df0ed907e"
  "git-plus": {}
  "highlight-line": {}
  "highlight-selected":
    lightTheme: true
  "line-ending-converter":
    showEolInStatusBar: false
  linter: {}
  "linter-eslint":
    useGlobalEslint: true
  "markdown-preview-plus":
    useGitHubStyle: true
  "merge-conflicts": {}
  minimap: {}
  "one-dark-ui":
    fontSize: 14
    layoutMode: "Compact"
  "spell-check": {}
  tabs:
    enableVcsColoring: true
    tabScrolling: false
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".angular.html.text":
  editor:
    preferredLineLength: 9999
    softWrapHangingIndent: 4
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 9999
    softWrapHangingIndent: 4
".diff.source":
  editor:
    preferredLineLength: 999999
".html.smarty.text":
  editor:
    preferredLineLength: 100
".js.jsx.react.source":
  editor:
    preferredLineLength: 9999
    softWrapHangingIndent: 4
".js.jsx.source":
  editor:
    preferredLineLength: 9999
    softWrapHangingIndent: 4
".js.source.subtlegradient":
  editor:
    preferredLineLength: 9999
    softWrapHangingIndent: 4
".source.ts":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
".source.tsx":
  editor:
    preferredLineLength: 100
    softWrapHangingIndent: 2
