revolution:
  title: "revolution"
  paths: [
    "/opt/lampp/htdocs/matt/revolution"
  ]
".oh-my-zsh":
  title: ".oh-my-zsh"
  paths: [
    "/home/tom/.oh-my-zsh"
  ]
zardiandzardi:
  title: "zardiandzardi"
  paths: [
    "/opt/lampp/htdocs/matt/zardiandzardi"
    "/opt/lampp/htdocs/matt/zardiandzardi/.git"
  ]
"natural-dispensary":
  title: "natural-dispensary"
  paths: [
    "/opt/lampp/htdocs/matt/natural-dispensary"
  ]
"lewis-and-wood":
  title: "lewis-and-wood"
  paths: [
    "/opt/lampp/htdocs/matt/lewis-and-wood"
  ]
pathway:
  title: "pathway"
  paths: [
    "/opt/lampp/htdocs/matt/pathway"
  ]
openprescribing_styling:
  title: "openprescribing_styling"
  paths: [
    "/opt/lampp/htdocs/matt/openprescribing_static"
  ]
"react+meteorapp":
  title: "react + meteor app"
  paths: [
    "/home/tom/dev/react_flow_router"
  ]
"hilles-house-wp":
  title: "hilles-house-wp"
  paths: [
    "/opt/lampp/htdocs/matt/hilles-house-wp"
  ]
stroudyogaspace:
  title: "StroudYogaSpace"
  paths: [
    "/opt/lampp/htdocs/matt/StroudYogaSpace"
  ]
templatesitewp:
  title: "Template Site WP"
  paths: [
    "/opt/lampp/htdocs/matt/template-site-wp"
  ]
cherart:
  title: "Cherart"
  paths: [
    "/opt/lampp/htdocs/matt/cherart"
  ]
fit:
  title: "Fit"
  paths: [
    "/opt/lampp/htdocs/fit"
  ]
